<a href="https://colab.research.google.com/github/mholson/mhoPythonNotebooks/blob/main/python_colab_math_func_create_table_of_values_05mj.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# How to Create a Table of Values?

## 1. Define the Domain Set

In [33]:
domain_set = [-2, -1, 0, 1, 2]

## 2. Define a Function

In [34]:
def f(x):
  return x**2 + 3*x + 3

In [35]:
f(1)

7

## 3. Generate the Range Set

In [36]:
domain_set

[-2, -1, 0, 1, 2]

In [40]:
range_set = []

for element in domain_set:
  range_set.append(f(element))

In [41]:
range_set

[1, 1, 3, 7, 13]

## 4. Generate the Graph Set

In [42]:
print(f"{domain_set}\n{range_set}")

[-2, -1, 0, 1, 2]
[1, 1, 3, 7, 13]

In [46]:
graph_set = list(zip(domain_set, range_set))

In [47]:
graph_set

[(-2, 1), (-1, 1), (0, 3), (1, 7), (2, 13)]

## 5. Generate the Table of Values

In [59]:
from tabulate import tabulate

print(tabulate(graph_set,
               headers = ["x", "y"],
               tablefmt = "github"
               )
)

|   x |   y |
|-----|-----|
|  -2 |   1 |
|  -1 |   1 |
|   0 |   3 |
|   1 |   7 |
|   2 |  13 |