<a href="https://colab.research.google.com/github/mholson/mhoPythonNotebooks/blob/main/python_objects_list_how_to_swap_two_elements_in_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Swap two elements in a list

seq = [5, 3]

mem = seq[0]
seq[0] = seq[1]
seq[1] = mem

seq

[3, 5]

In [ ]:
def swap(seq, a, b):
  """
  Swap element indexed at a with element indexed at b
  in a list seq
  """
  mem = seq[a]
  seq[a] = seq[b]
  seq[b] = mem
  return seq

myList = [3, 2, 6, 7, 4]

swap(myList,3,4)

[3, 2, 6, 4, 7]